
:root {
  --header-active: #80D9FF;
  --font-header-color: #B39EFF;
  --overview-header-color: #80D9ff;

}

.container {
    position: relative;
    height: 80%;
    width: 100%;
}

.nav a {
    background: #dedede;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
}

.header {
  overflow: hidden;
  background-color: #B39EFF;
  padding: 20px 10px;
}

.header a, .header p{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: var(--header-active);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

table{
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px; 
}

thead{
  line-height: 15vh;
}

.tableHeader{
  color: var(--font-header-color);
}

.tableHeader.data{
  line-height: 15vh;
}

tr:nth-child(even) {
  background-color: #B39EFF;
  opacity: 0.3;
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

td, th{
    text-align: right;
}

td{
  font-size: 3.3vh;
}

.checkBox{
  width: 5%;
  text-align: center;
}

#subscribeNews{
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

th{
  font-size: 4.6vh;
}

button, #submit{
    height: 15%;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.5vw;
    color: white;
    background-color: var(--font-header-color);
    border: none;
    box-shadow: 5pt 4pt 1pt aliceblue;
    border-radius: 4px;
}


/* LOGIN */
.loginBox, .signup{
    position: relative;
    width: 25%;
    height: 50%;
    left: 35%;
    margin-top: 15%;
}

.loginBox p, .loginBox a{
  margin-left: 6%;
  color: var(--font-header-color);
  font-size: 1.6vw;
}

.loginBox a{
  margin-left: 40%;
}

.loginBox .loginText{
  width: 5%;
}

.loginBox .loginInput{
  width: 95%;
}

.loginInput input, #submit, .signup input{
  width: 100%;
  font-size: 1.5vw;
}

.loginBox table{
  padding-top: 10px;
  padding-bottom:10px;
  margin-bottom: 2%;
}

.loginBox tr{
  line-height: 4.5vh;
}

.indexBox p, .dataBox p, .aboutBox p, .signup h2{
  color:  var(--font-header-color);;
  font-size: 5vw;
  margin-left: 15%;
  margin-top: 20%;
}

/* signup */
.signup{
  width: 40%;
  margin-top: 10%;
}

.signup .helptext, .signup ul{
  display: none;
}

.signup p{
  width: 100%;
}

.signup label{
  width: 100%;
}

.signup button{
  width: 100%;
}

.UploadForm, .profiles{
  position: relative;
  width: 45%;
  height: 50%;
  margin-top: 5%;
  margin-left: 30%;
}

.profiles{
  margin-top: 0%;
}

.UploadForm button{
  width: 100%;
}

.UploadForm input{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 22%;
}

.UploadForm h2, h1{
  color:  var(--overview-header-color);
  font-size: 5vh;
}

.UploadForm h3{
  float: left;
  color: var(--font-header-color);
}


.indexBox p{
  margin-top: 10%
}

.indexBox img{
  margin-left: 35%;
  margin-top: 0%;
}

.kidsImage{
  float: left;
  height: 50%;
  width: 34%;
  margin-top: -5%;
}

.table-div{
  float: right;
  width: 50%;
  margin-right: 8%;
}

button{
  width: 62%;
  margin-top: 2%;
}
.logoImage{
  width: 28%;
  padding: 0px;
  margin-top: -3%;
  margin-bottom: -5%;
  padding-bottom: 1%;
}
