{% extends 'base.html' %}
{% load humanize %} <!-- Add this-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}data {% endblock %}</title>
  </head>
  <body>
    {% block pagecontent %}
    <center><h1>Anwesenheits-Liste</h1></center>
    <div class="table-div">
          <form>
      <table class="table">
        <thead>
          <tr>
            <th>Anwesend?</th>
            <th>Name</th>
            <th>Nachname</th>
          </tr>
        </thead>
        <tbody>
          {% for child in data %}
            <tr>
              <td><input type="checkbox" id="subscribeNews" name="subscribe"></td>
              <td>{{ child.name }}</td>
              <td>{{ child.nachname }}</td> 
            </tr>
          {% endfor %}
        </tbody>
      </table>
            </form>
          <center><button type="submit">Subscribe</button></center>
    </div>
    {% endblock %}
  </body>
</html>