{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Index{% endblock %}</title>
</head>
<body onload="setHeader();"></body>>
  {% block pagecontent %}
{% if user.is_authenticated %}
  <center><h1>Anwesenheits-Liste</h1></center>
  <div class="table-div">
        <form>
    <table class="table">
      <thead>
        <tr>
          <th>Anwesend?</th>
          <th>Name</th>
          <th>Nachname</th>
        </tr>
      </thead>
      <tbody>
        {% for child in data %}
          <tr>
            <td><input type="checkbox" id="subscribeNews" name="subscribe"></td>
            <td>{{ child.name }}</td>
            <td>{{ child.nachname }}</td> 
          </tr>
        {% endfor %}
      </tbody>
    </table>
          </form>
        <center><button type="submit">Subscribe</button></center>
  </div>
  {% else %}
  <div class="indexBox">
<p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a> see the Content! </p>
  </div>
  {% endif %}
  {% endblock %}
</body>
</html>