{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Index{% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
    {% if user.is_authenticated %}
<form method="POST">
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          {% csrf_token %}
          <div class="field has-addons">
            <div class="control is-expanded">
              {{ form.text }}
            </div>
            <div class="control">
              <button class="button is-info">Submit</button>
            </div>
          </div>
        </p>
      </div>
    </div>
  </article>
</form>
{% endif %}
  {% endblock %}
</body>
</html>