{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Index{% endblock %}</title>
</head>
<body onload="setHeader();"></body>>
  {% block pagecontent %}
{% if user.is_authenticated %}
  <center><h1>Anwesenheits-Liste</h1></center>
  {% load static %}
  <div class="kidsImage">
  <img src="{% static 'images/kids.svg' %}" alt="playingKids"> 
  </div>
  <div class="table-div">
        <form>
    <table class="table">
      <thead>
        <tr class="tableHeader">
          <th>Anwesend?</th>
          <th>Name</th>
          <th>Nachname</th>
        </tr>
      </thead>
      <tbody>
        {% for profile in profiles %}
        <tr>
            <td class="checkBox"><input type="checkbox" id="subscribeNews" name="subscribe"></td>
            <td>{{ profile.name }}</td>
            <td>{{ profile.nachname }}</td> 
          </tr>
        {% endfor %}
      </tbody>
    </table>
          </form>
        <center><button type="submit">Subscribe</button></center>
  </div>
  {% else %}
  <div class="indexBox">
    {% load static %}
<p>Please <a href="{% url 'login'%}?next={{request.path}}">login</a> see the Content! </p>
<img src="{% static 'images/coffee.jpg' %}" alt="break&coffee">
  </div>
  {% endif %}
  {% endblock %}
</body>
</html>